parameters:
	ignoreErrors:
		- '#Constant TEMP_DIR not found#'
		- '#Constant TEST_DIR not found#'
		- '#Parameter \#1 \$maxResults of method [^\s]+::setMaxResults\(\) expects int, (int\|)?null given#'
		- '#Parameter \#1 \$firstResult of method [^\s]+::setFirstResult\(\) expects int, (int\|)?null given#'
		- '#Method Doctrine\\DBAL\\Driver\\Connection::query\(\) invoked with \d+ parameter, 0 required#'
		- '#Parameter \#3 \$type of method Doctrine\\ORM\\QueryBuilder::setParameter\(\) expects string\|null, int given.#'
		- '#Parameter \#1 \$reader of parent constructor expects Doctrine\\Common\\Annotations\\AnnotationReader, Doctrine\\Common\\Annotations\\AnnotationReader\|Doctrine\\Common\\Annotations\\Reader given.#'
		- '#Kdyby\\Doctrine\\EmptyResultSet::__construct\(\) does not call parent constructor from Kdyby\\Doctrine\\ResultSet.#'
		- '#Call to an undefined method Serializable::__sleep\(\).#'
		- '#Call to an undefined method Serializable::__wakeup\(\).#'
