- Doctrine\DBAL\Tools\Console\Command\ImportCommand
- Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand
- Doctrine\ORM\Tools\Console\Command\ClearCache\ResultCommand
- Doctrine\ORM\Tools\Console\Command\ClearCache\QueryCommand
- Kdyby\Doctrine\Console\Proxy\ConvertMappingCommand
- Kdyby\Doctrine\Console\Proxy\GenerateEntitiesCommand
- Kdyby\Doctrine\Console\Proxy\SchemaCreateCommand
- Kdyby\Doctrine\Console\Proxy\SchemaUpdateCommand
- Kdyby\Doctrine\Console\Proxy\SchemaDropCommand
- Kdyby\Doctrine\Console\Proxy\GenerateProxiesCommand
- Kdyby\Doctrine\Console\Proxy\ValidateSchemaCommand
- Kdyby\Doctrine\Console\Proxy\InfoCommand
