- Kdyby\Doctrine\Console\Proxy\CacheClearCollectionRegionCommand
- Kdyby\Doctrine\Console\Proxy\CacheClearEntityRegionCommand
- Kdyby\Doctrine\Console\Proxy\CacheClearMetadataCommand
- Kdyby\Doctrine\Console\Proxy\CacheClearQueryCommand
- Kdyby\Doctrine\Console\Proxy\CacheClearQueryRegionCommand
- Kdyby\Doctrine\Console\Proxy\CacheClearResultCommand
- Kdyby\Doctrine\Console\Proxy\ConvertMappingCommand
- Kdyby\Doctrine\Console\Proxy\GenerateEntitiesCommand
- Kdyby\Doctrine\Console\Proxy\GenerateProxiesCommand
- Kdyby\Doctrine\Console\Proxy\ImportCommand
- Kdyby\Doctrine\Console\Proxy\InfoCommand
- Kdyby\Doctrine\Console\Proxy\MappingDescribeCommand
- Kdyby\Doctrine\Console\Proxy\ReservedWordsCommand
- Kdyby\Doctrine\Console\Proxy\SchemaCreateCommand
- Kdyby\Doctrine\Console\Proxy\SchemaUpdateCommand
- Kdyby\Doctrine\Console\Proxy\SchemaDropCommand
- Kdyby\Doctrine\Console\Proxy\ValidateSchemaCommand
