php:
	date.timezone: Europe/Prague


extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	kdyby.doctrine: Kdyby\Doctrine\DI\OrmExtension


kdyby.doctrine:
	metadataCache: array
	queryCache: array
	resultCache: array
	hydrationCache: array




http:
	frames: null


session:
	autoStart: false
	save_path: %tempDir%/sessions


services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
