php:
	date.timezone: Europe/Prague


doctrine:
	metadataCache: array
	queryCache: array
	resultCache: array
	hydrationCache: array
	metadata:
		KdybyTests\Doctrine: annotations(%appDir%/Doctrine/models)


console:
	url: http://www.kdyby.org/


nette:
	security:
		frames: null

	session:
		autoStart: false


services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
