php:
	date.timezone: Europe/Prague


extensions:
	events: Kdyby\Events\DI\EventsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


doctrine:
	metadataCache: array
	queryCache: array
	resultCache: array
	hydrationCache: array
	metadata:
		KdybyTests\Doctrine: annotations(%appDir%/Doctrine/models)


console:
	url: http://www.kdyby.org/


nette:
	security:
		frames: null

	session:
		autoStart: false


services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
