kdyby.doctrine:
	driver: pdo_sqlite
	memory: true
	metadata:
		KdybyTests\Doctrine: annotations(%appDir%/Doctrine/models)
	targetEntityMappings:
		KdybyTests\Doctrine\ICmsAddress: KdybyTests\Doctrine\CmsAddress

extensions:
	- KdybyTests\Doctrine\Models2\Models2Extension
