kdyby.doctrine:
	metadata:
		KdybyTests\Doctrine: annotations(%appDir%/Doctrine/models)

	default:
		driver: pdo_sqlite
		memory: true

	remote:
		driver: pdo_sqlite
		memory: true


services:
	- KdybyTests\Doctrine\RemoteEntityManager(@kdyby.doctrine.remote.entityManager)
