kdyby.doctrine:
	driver: pdo_sqlite
	memory: true
	metadata:
		KdybyTests\Doctrine: annotations(%appDir%/Doctrine/models)
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository


services:
	-
		class: KdybyTests\Doctrine\CmsEmployeeRepository
		factory: @Kdyby\Doctrine\EntityManager::getRepository(KdybyTests\Doctrine\CmsEmployee)

	-
		class: KdybyTests\Doctrine\CmsGroupRepository
		factory: @Kdyby\Doctrine\EntityManager::getRepository(KdybyTests\Doctrine\CmsGroup)
